

body {
    background-color: #e997bb;
    color: #120027;
    font-family: sans-serif;
    
}

a {text-decoration: none;
	color:#8ee6dd;

}

img {
    max-width: 100%;
  	/*max-height: 100%;*/
    width: auto\9; /* ie8 */
}


.wrapper {
  display: flex;
  flex-flow: row wrap;
  height:100%;
  background-image: url("images/pinkbackground.jpg");
}

.header{
	height: 60px;
	width: 100%;
	background-color:#8b28be;
	margin:0;
	border:0;
	display:inline;
	background-image: url("images/headerfooter.jpg");

}

.footer{
	height:40px;
	width: 100%;
	background-color:#8b28be;
	margin:0;
	border:0;
	display:inline;
	background-image: url("images/headerfooter.jpg");

}
.container {
	display: flex;
	width:15%;
	height:80%;
	margin:70px;
	background-color: #6b6be1;
	flex-direction: column;
	flex-flow: wrap;
	justify-content: center;
	border-color: black;
	background-image: url("images/panelbackground.png");
}

.main {
	/*display:flex;
	flex-direction: column;*/
	float:right;
	background-color:#8b28be;
	width: 60%;
	height: 400px;
	margin:30px;
	padding: 30px;
	background-image: url("images/mainbackground.jpg");
	overflow-y: scroll;
	color: #e997bb;


}



.item {
	flex: none;
	width: 100px;
	height: 40px;
	margin: 10px;
	background-color:#8ee6dd;

}


.maincontent{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	margin:10px;
	min-width:200px;
	min-height:50px;
	background-color: #120027;
	padding:10px;
	text-align: center;

	

}



@media all and (max-width: 750px) {
  .container {
  	min-width:250px;
	height:80%;
	margin-left:50px;
	margin-bottom: 5px;
	margin-top: 5px;

    
  }
  .item {
	flex-wrap: row-wrap;
	margin: 5px;
}
	.main{
		padding:10px;
		margin:10px;
		
		width:100%;
	}

}





